
h1 {
    text-align: center;
    color: var(--primary-color);
    margin-top: 0;
}

.expenses table,
.summary table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.expenses th,
.expenses td,
.summary th,
.summary td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid var(--tertiary-color);
}

.expenses th:first-child,
.summary th:first-child {
    width: 25%;
}

.expenses th:nth-child(2),
.summary th:nth-child(2) {
    width: 50%;
}

.expenses th:last-child,
.summary th:last-child,
.expenses td:last-child,
.summary td:last-child {
    width: 25%;
    text-align: right;
}

.expenses tbody tr:hover,
.summary tbody tr:hover {
    background-color: var(--tertiary-color);
}

.summary td:last-child {
    font-weight: bold;
}

.table-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
}

.btn-add-expense {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    margin-left: auto;
}

.btn-add-expense:hover {
    background-color: #0069d9;
    border-color: #0062cc;
    color: #fff;
}

.btn-add-expense:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
